

.navigation
{
    color: white;
    display: flex;
    gap: 30px;
    list-style: none;
}

.navigation li
{
    background-color: orange;
    border-radius: 20px;
    padding : 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}


.header
{
    color: yellow;
}

